body{
	margin: 0;
	display: grid;
	grid-template-areas: "header header header"
						 "menu content menu"
						 "footer footer footer";
	grid-template-rows: 50px auto 200px;
	grid-template-columns: 40% 20% 40%;
}
header{
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: brown;
	color: white;
}

header p{
	font-family: "Lobster",display;
	font-size: 35px;
}

form{
	grid-area: content;
	display: flex;
	justify-content: space-between;
}

.form{
	display: flex;
	flex-direction: column;
}

form a{
	margin-left: 10px;
}


div p{
	font-family: "Lobster",display;
}

button{
	width: 100px;
	height: 20px;
}
footer{
	grid-area: footer;
	position: absolute;
	bottom: 0;
}
