#message {
    display:none;
}

.valid {
    color: green;
}

.valid:before {
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    content: "✖";
}

#message1{
    display: none;
}

#message1 p{
    color: red;
}

#message2{
    display: none;
}

#message2 p{
    color: red;
}
